#grid{
	-fx-translate-y: 35px;
	-fx-alignment: center-right;
}

#pane{
	-fx-background-image: url("ixomlayout3.jpg");
	-fx-background-size: cover;	
}

#combobox{
	     
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}

#btnRun{

}

.label{
	-fx-font-weight: bold;
}
.button {
      
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.3) , 10, 0.0 , 0 , 3 );
}